Read the three files into python as dataframes

In [1]:
import pandas as pd

df1 = pd.read_csv("/Users/suso/BootcampDA/Unit1/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv")
df2 = pd.read_csv("/Users/suso/BootcampDA/Unit1/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv")
df3 = pd.read_csv("/Users/suso/BootcampDA/Unit1/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv")

Show the DataFrame's shape.

In [2]:
print("Shape of df1:", df1.shape)
print("Shape of df2:", df2.shape)
print("Shape of df3:", df3.shape)

Shape of df1: (4008, 11)
Shape of df2: (996, 11)
Shape of df3: (7070, 11)

Rearrange the columns in the dataframe as needed

In [3]:
df1.columns = df1.columns.str.upper().str.replace(" ", "_")
print(df1)
df2.columns = df2.columns.str.upper().str.replace(" ", "_")
print(df2)
df3.columns = df3.columns.str.upper().str.replace(" ", "_")
print(df3)

     CUSTOMER          ST GENDER             EDUCATION  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     CUSTOMER_LIFETIME_VALUE   INCOME  MONTHLY_PREMIUM_AUTO  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     NUMBER_OF_OPEN_COMPLAINTS     POLICY_TYPE  VEHICLE_CLASS  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      TOTAL_CLAIM_AMOUNT
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]
    CUSTOMER          ST GENDER EDUCATION CUSTOMER_LIFETIME_VALUE  INCOME  \
0    GS98873     Arizona      F  Bachelor              323912.47%   16061
1    CW49887  California      F    Master              462680.11%   79487
2    MY31220  California      F   College              899704.02%   54230
3    UH35128      Oregon      F   College             2580706.30%   71210
4    WH52799     Arizona      F   College              380812.21%   94903
..       ...         ...    ...       ...                     ...     ...
991  HV85198     Arizona      M    Master              847141.75%   63513
992  BS91566     Arizona      F   College              543121.91%   58161
993  IL40123      Nevada      F   College              568964.41%   83640
994  MY32149  California      F    Master              368672.38%       0
995  SA91515  California      M  Bachelor              399258.39%       0

     MONTHLY_PREMIUM_AUTO NUMBER_OF_OPEN_COMPLAINTS  TOTAL_CLAIM_AMOUNT  \
0                      88                    1/0/00          633.600000
1                     114                    1/0/00          547.200000
2                     112                    1/0/00          537.600000
3                     214                    1/1/00         1027.200000
4                      94                    1/0/00          451.200000
..                    ...                       ...                 ...
991                    70                    1/0/00          185.667213
992                    68                    1/0/00          140.747286
993                    70                    1/0/00          471.050488
994                    96                    1/0/00           28.460568
995                   111                    1/0/00          700.349052

        POLICY_TYPE  VEHICLE_CLASS
0     Personal Auto  Four-Door Car
1      Special Auto            SUV
2     Personal Auto   Two-Door Car
3     Personal Auto     Luxury Car
4    Corporate Auto   Two-Door Car
..              ...            ...
991   Personal Auto  Four-Door Car
992  Corporate Auto  Four-Door Car
993  Corporate Auto   Two-Door Car
994   Personal Auto   Two-Door Car
995   Personal Auto            SUV

[996 rows x 11 columns]
     CUSTOMER       STATE  CUSTOMER_LIFETIME_VALUE             EDUCATION  \
0     SA25987  Washington              3479.137523  High School or Below
1     TB86706     Arizona              2502.637401                Master
2     ZL73902      Nevada              3265.156348              Bachelor
3     KX23516  California              4455.843406  High School or Below
4     FN77294  California              7704.958480  High School or Below
...       ...         ...                      ...                   ...
7065  LA72316  California             23405.987980              Bachelor
7066  PK87824  California              3096.511217               College
7067  TD14365  California              8163.890428              Bachelor
7068  UP19263  California              7524.442436               College
7069  Y167826  California              2611.836866               College

     GENDER  INCOME  MONTHLY_PREMIUM_AUTO  NUMBER_OF_OPEN_COMPLAINTS  \
0         M       0                   104                          0
1         M       0                    66                          0
2         F   25820                    82                          0
3         F       0                   121                          0
4         M   30366                   101                          2
...     ...     ...                   ...                        ...
7065      M   71941                    73                          0
7066      F   21604                    79                          0
7067      M       0                    85                          3
7068      M   21941                    96                          0
7069      M       0                    77                          0

         POLICY_TYPE  TOTAL_CLAIM_AMOUNT  VEHICLE_CLASS
0      Personal Auto          499.200000   Two-Door Car
1      Personal Auto            3.468912   Two-Door Car
2      Personal Auto          393.600000  Four-Door Car
3      Personal Auto          699.615192            SUV
4      Personal Auto          484.800000            SUV
...              ...                 ...            ...
7065   Personal Auto          198.234764  Four-Door Car
7066  Corporate Auto          379.200000  Four-Door Car
7067  Corporate Auto          790.784983  Four-Door Car
7068   Personal Auto          691.200000  Four-Door Car
7069  Corporate Auto          369.600000   Two-Door Car

[7070 rows x 11 columns]

Concatenate the three dataframes

In [4]:
data = pd.concat([df1, df2, df3]).reset_index(drop=True)
print(data)

      CUSTOMER          ST GENDER             EDUCATION  \
0      RB50392  Washington    NaN                Master
1      QZ44356     Arizona      F              Bachelor
2      AI49188      Nevada      F              Bachelor
3      WW63253  California      M              Bachelor
4      GA49547  Washington      M  High School or Below
...        ...         ...    ...                   ...
12069  LA72316         NaN      M              Bachelor
12070  PK87824         NaN      F               College
12071  TD14365         NaN      M              Bachelor
12072  UP19263         NaN      M               College
12073  Y167826         NaN      M               College

      CUSTOMER_LIFETIME_VALUE   INCOME  MONTHLY_PREMIUM_AUTO  \
0                         NaN      0.0                1000.0
1                  697953.59%      0.0                  94.0
2                 1288743.17%  48767.0                 108.0
3                  764586.18%      0.0                 106.0
4                  536307.65%  36357.0                  68.0
...                       ...      ...                   ...
12069             23405.98798  71941.0                  73.0
12070             3096.511217  21604.0                  79.0
12071             8163.890428      0.0                  85.0
12072             7524.442436  21941.0                  96.0
12073             2611.836866      0.0                  77.0

      NUMBER_OF_OPEN_COMPLAINTS     POLICY_TYPE  VEHICLE_CLASS  \
0                        1/0/00   Personal Auto  Four-Door Car
1                        1/0/00   Personal Auto  Four-Door Car
2                        1/0/00   Personal Auto   Two-Door Car
3                        1/0/00  Corporate Auto            SUV
4                        1/0/00   Personal Auto  Four-Door Car
...                         ...             ...            ...
12069                         0   Personal Auto  Four-Door Car
12070                         0  Corporate Auto  Four-Door Car
12071                         3  Corporate Auto  Four-Door Car
12072                         0   Personal Auto  Four-Door Car
12073                         0  Corporate Auto   Two-Door Car

       TOTAL_CLAIM_AMOUNT       STATE
0                2.704934         NaN
1             1131.464935         NaN
2              566.472247         NaN
3              529.881344         NaN
4               17.269323         NaN
...                   ...         ...
12069          198.234764  California
12070          379.200000  California
12071          790.784983  California
12072          691.200000  California
12073          369.600000  California

[12074 rows x 12 columns]

Which columns are numerical?

In [5]:
data.dtypes
# income, monthly premium auto, total claim amount, customer lifetime value, number of open complaints.

CUSTOMER                      object
ST                            object
GENDER                        object
EDUCATION                     object
CUSTOMER_LIFETIME_VALUE       object
INCOME                       float64
MONTHLY_PREMIUM_AUTO         float64
NUMBER_OF_OPEN_COMPLAINTS     object
POLICY_TYPE                   object
VEHICLE_CLASS                 object
TOTAL_CLAIM_AMOUNT           float64
STATE                         object
dtype: object

Which columns are categorical?

In [6]:
data.dtypes
# Customer, st, gender, education, policy type, vehicle class, state.

CUSTOMER                      object
ST                            object
GENDER                        object
EDUCATION                     object
CUSTOMER_LIFETIME_VALUE       object
INCOME                       float64
MONTHLY_PREMIUM_AUTO         float64
NUMBER_OF_OPEN_COMPLAINTS     object
POLICY_TYPE                   object
VEHICLE_CLASS                 object
TOTAL_CLAIM_AMOUNT           float64
STATE                         object
dtype: object

Understand the meaning of all columns

In [7]:
# Customer: ID of the customer
# ST or STATE: Which is the customer from
# Gender: Gender of the customer
# Education: Maximum level of education the customer have had.
# Customer lifetime value: The value the customer gives to his life.
# Income: Yearly income of the customer
# Monthly premium auto: Monthly insurance for the car.
# Number of open complaints: Defined meaning by itself.
# Policy type: If car is property of the customer or the company.
# Vehicle class: Type of vehicle.
# Total claim amount: Amount of money each customer is claiming.

Perform the data cleaning operations mentioned so far in class

Delete the column education and the number of open complaints from the dataframe.

In [8]:
education = "EDUCATION"
del data[education]
num_open_compl = "NUMBER_OF_OPEN_COMPLAINTS"
del data[num_open_compl]

Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [9]:
cust_life_value = "CUSTOMER_LIFETIME_VALUE"
data[cust_life_value] = pd.to_numeric(data[cust_life_value].str.replace('%', '')) * 100
print(data.head())

  CUSTOMER          ST GENDER  CUSTOMER_LIFETIME_VALUE   INCOME  \
0  RB50392  Washington    NaN                      NaN      0.0
1  QZ44356     Arizona      F               69795359.0      0.0
2  AI49188      Nevada      F              128874317.0  48767.0
3  WW63253  California      M               76458618.0      0.0
4  GA49547  Washington      M               53630765.0  36357.0

   MONTHLY_PREMIUM_AUTO     POLICY_TYPE  VEHICLE_CLASS  TOTAL_CLAIM_AMOUNT  \
0                1000.0   Personal Auto  Four-Door Car            2.704934
1                  94.0   Personal Auto  Four-Door Car         1131.464935
2                 108.0   Personal Auto   Two-Door Car          566.472247
3                 106.0  Corporate Auto            SUV          529.881344
4                  68.0   Personal Auto  Four-Door Car           17.269323

  STATE
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

Check for duplicate rows in the data and remove if any.

In [10]:
duplicate_rows = data.duplicated()
data = data.drop_duplicates()

Filter out the data for customers who have an income of 0 or less.

In [11]:
data_positive_income = data[data['INCOME'] > 0]
print(data.head())

  CUSTOMER          ST GENDER  CUSTOMER_LIFETIME_VALUE   INCOME  \
0  RB50392  Washington    NaN                      NaN      0.0
1  QZ44356     Arizona      F               69795359.0      0.0
2  AI49188      Nevada      F              128874317.0  48767.0
3  WW63253  California      M               76458618.0      0.0
4  GA49547  Washington      M               53630765.0  36357.0

   MONTHLY_PREMIUM_AUTO     POLICY_TYPE  VEHICLE_CLASS  TOTAL_CLAIM_AMOUNT  \
0                1000.0   Personal Auto  Four-Door Car            2.704934
1                  94.0   Personal Auto  Four-Door Car         1131.464935
2                 108.0   Personal Auto   Two-Door Car          566.472247
3                 106.0  Corporate Auto            SUV          529.881344
4                  68.0   Personal Auto  Four-Door Car           17.269323

  STATE
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN